#on{
    background-image: linear-gradient(#ff99af,blue);
    background-size:cover;
    background-repeat: no-repeat;
    width:100%;
    height:750px;
}
#off{
    background-image: linear-gradient(rgb(253, 253, 250), yellow); 
    width:80%;
    height:750px;
    margin-right:40%;
}
.card-header{
    background-color:black;
    width:100%;
    height:100px;
   }
#head1{
    background-color:rgb(63, 25, 25);
    width:100%;
    height:100px;
  }
  #DeleteButtonColor{
background-color:red;
  }
 #true{
    background:green;
    border-radius:40%;
  }
.perticularDateTodosopen{
    display: block;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid gray;
    z-index: 9;
    margin-bottom:20%;
  }
  .perticularDateTodosclose{
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid gray;
    z-index: 9;
    margin-bottom:20%;
  }
  .form-container2{
    max-width: 300px;
    padding: 10px;
    background-color:skyblue;
  }
 .flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: DodgerBlue;
    border:10px solid darkblue;
    
  }
   .flex-container:hover {
    background-color:whitesmoke;
    border:10px solid whitesmoke;
    
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px #888888;
   
  }
  
  .flex-container > div {
   background-color:#b3d9ff;
    width: 120px;
    margin: 20px;
    text-align: center;
    line-height: 30px;
    font-size: 20px;
  }

  #flex{
    width:100%;
    
  }
  
  #yes{
    margin-left: 40%;
    margin-right: 40%;
    margin-top:50%;
    margin-bottom:50%;
    border-style:solid;
    text-align:center;
    color:black;
    background-color:gray;
      padding: 16px 20px;
    }
  #no{
    border-style:hidden;
    }
  /* #but{
      font-size:20px;
      font-weight:bold;
      color:white;
      padding:5px 5px;
      margin:5px 0 22px 0;
      border:solid white;
      height:45px;
      width:10%;
     background-color:blue;
    }
    input[type=text]{
      font-size:20px;
      font-weight:bold;
      padding:5px 5px;
      margin:5px 0 22px 0;
      border:solid gray;
      height:44px;
      width:50%;
      margin-left: 20%;
      background-color:black;
      color:white;
     
    }
    input[type=text]:hover {
      color:black;
      background-color: white;
   }

*/




.search input {
   
  width: 0px;

border:solid black;
border-radius:25px;
-webkit-transition: all 0.7s ease-in-out;
  -moz-transition: all 0.7s ease-in-out;
  -o-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;

}
.search input:hover{
  background-color:gray;
  border:solid white ;
}

  .search:hover input, .search input:focus {
    padding:10px 10px;
      width: 500px;
      font-size:20px;
      height:50px;
     
  }
  #button{
      font-size:20px;
      font-weight:bold;
      color:black;
      border:solid white;
      height:52px;
      width:100px;
      border-radius: 25px;
      background-color:blue;
     margin-left:30%;
  }


