
<div id="myPage" data-spy="scroll" data-target=".navbar" data-offset="50">
<form class="modal-content animate" #userForm="ngForm">
    
        <div class="imgcontainer">
              
              <img 
              src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==" alt="Avatar" class="avatar">
            </div>
       
            <div class="container">
              <div class="form-group">
              <label ><b>Username</b></label><br>
              <input type="text" required  
              #name="ngModel" [class.is-invalid]="name.invalid && name.touched"  
              class="form-control"  name="username"
                  [(ngModel)]="Username" >
                  <br>
              <small class="text-danger" [class.d-none]="name.valid || name.untouched">name is required</small>
              </div>
               <br>
              <div class="form-group">
                <label for="uname"><b>password</b></label><br>
                <input type="password"  pattern="^\d{10}$" #ph="ngModel" required
                [class.is-invalid]="ph.invalid && ph.touched"  
                class="form-control"  name="pw"
                    [(ngModel)]="Password" >
                    <br>
                    
                    <div *ngIf="ph.errors && (ph.invalid && ph.touched)">
                      <small class="text-danger"  *ngIf="ph.errors.required">password required</small>
                      
                      <small class="text-danger"  *ngIf="ph.errors.pattern">please enter correct password[only 10digits number]</small>
                      
                    </div>
                    <br>
                   </div>
                   {{msg}}
                  
                   
             <button (click)="login(Username,Password)" type="button" >Login</button>
            
            </div>
            <a routerLink="/register">Register</a>
          </form>
       </div>
 