<div class={{EnterDateTime}}  >

    <div class="form-container" >
        
    <h5>Enter Time and Date</h5>
    <label  ><b>Date:</b></label>
    <input type="date"  required [(ngModel)]="date">
    <br>
    <br>
    <label><b>Time:</b></label>
    <input type="time" required  [(ngModel)]="time"  >
    <br>
    <br>
    <label ><b>Description:</b></label>

    <textarea  placeholder="please enter Description"   [(ngModel)]="PresentDescription"></textarea>
 <div *ngIf="(previousDescription===PresentDescription); else templateName">
    <button type="button"   [disabled]=true id="lightgreen"  class="btn" 
    (click)="addtodos(TextValue1,date,time,PresentDescription);PresentDescription='';"><i>
    Submit</i></button>
</div>
<ng-template #templateName>
    <button type="button"    class="btn" 
    (click)="addtodos(TextValue1,date,time,PresentDescription);PresentDescription='';"><i>
     Submit</i></button>
</ng-template>
<button type="button" class="btn cancel" (click)="CloseDateTimeBlock()"><i>Close</i></button>
    </div>
    </div>
    
    
    