<!----<h1>{{title}}</h1>

<div class="row"  style="width:800px; margin:0 auto;">
  <div class="column" style="background-color:#aaa;">
    <h1>------------Todo app-----------</h1>
    <input type="text" #m  />
    
    <button (click)="addtodo(m.value); m.value=''">Add</button>
  <table>
    <tr>
      <th>Label:</th>
      <th>priority:</th>
      
      <th>done</th>
      <th>action</th>
 </tr>
 <tr *ngFor="let t of todos">
<td>{{t.label}}</td>
<td>{{t.priority}}</td>

<td><input name="checkbox" type="checkbox" id="checkbox"/></td>
<td>
  <button (click)="deletetodo(t)">delete</button>
</td>
 </tr>
  </table>
</div>
</div>
<body>
 
</body>
----->














<router-outlet></router-outlet>
