/*td{
    background-color:whitesmoke;
    padding:25px
}
th{
    background:black;
    color:white;
    padding:15px;
}
input[type=text]{
    font-size:20px;
    font-weight:bold;
    padding:5px 5px;
    margin:8px 0;
    border:1px solid black;
    height:28px;
    width:300px;
}
button{
    height:40px;
    width:50px;
    background:black;
    color:white;
}
input[type=checkbox]{
    background:black;
    color:white;
    border:0px;
    height:20px;
    width:40px;
}
.column {
    float: l;
    width: 50%;
    height:500px;
    padding: 10px;
  }
  */


  
  
    
  
