




         <form #userForm="ngForm">
            
        <div class="container">
          <h1>Register</h1>
          <p>Please fill in this form to create an account.</p>
          <hr>
          <div class="form-group">
        
            <label ><b>Username</b></label><br>
            <input type="text" required   pattern="^[a-zA-Z ]*$" 
            #name="ngModel" [class.is-invalid]="name.invalid && name.touched"  
            class="form-control"  name="username"
                [(ngModel)]="ReferenceVariable.name" >
                <br>
           
            <div *ngIf="name.errors && (name.invalid && name.touched)">
              <small class="text-danger"  *ngIf="name.errors.required">name required</small>
              <small class="text-danger"  *ngIf="name.errors.pattern">please enter correct name</small>
            </div>
            </div>
          <br>
            <div class="form-group">
              <label for="uname"><b>password</b></label><br>
              <input type="password" 
              required pattern="^\d{10}$" 
              #ph="ngModel" [class.is-invalid]="ph.invalid && ph.touched"  
              class="form-control"  name="pw"
                  [(ngModel)]="ReferenceVariable.password" >
                  <br>

                  
                  <div *ngIf="ph.errors && (ph.invalid && ph.touched)">
                    <small class="text-danger"  *ngIf="ph.errors.required">password required</small>
                    <small class="text-danger"  *ngIf="ph.errors.pattern">please enter correct password[only 10digits number]</small>
                  </div>
                  <br>
                 </div>
          <button type="submit" class="registerbtn" (click)="Register(name.valid,ph.valid)">Register</button>
        </div>
     
        <div class="container signin">
          <p>Already have an account? <a href="/login">Sign in</a>.</p>
        </div>
        </form>
      
  



